arxiv==1.4.3
PyMuPDF==1.21.1
requests==2.32.2
tiktoken==0.2.0
tenacity==8.2.2
pybase64==1.2.3
Pillow==10.3.0
openai==0.27.0
markdown
jieba
gradio==4.31.3
flask==2.2.3
flask-cors==3.0.10
bs4==0.0.1
urllib3==1.26.19
sphinx-markdown-tables
sphinxemoji
recommonmark
sphinx-book-theme
aiohttp>=3.10.2 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
fastapi>=0.109.1 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
orjson>=3.9.15 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
